

body {
    min-height: 100vh;
    position: relative;
    background-position: 0 -120px;
    background-attachment: fixed;
    background-image: url("../images/scenery.png");
}

#main-footer{
    text-align: center;
    position: sticky;
    top: 100%;
    background-color: #ffff00;
}

#Main-header {
  height: 90px;
  background-color: #ffff00;
}

#Post-section {
  left: 120vh;
  overflow: scroll-y;
}

#Post-Body{
  background-color: #eee;
}
